@import '../../styles/mixins.scss';

.benefits {
}

.inner {
  display: grid;
}

.header {
  margin: 0 auto;
}

.title {
  @include mediaLg {
    text-wrap: balance;
    text-align: center;
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: column;

  padding: 44px 40px 36px;

  border-radius: var(--br);
  background: var(--fg);

  @include mediaSm {
    align-items: center;
    text-align: center;

    padding: 40px 8px;
  }
}

.card-logo {
  &--vklik,
  &--AVK-CRM {
    font-size: 40px;
    font-weight: 700;
    line-height: 140%;
  }

  &--AVK-CRM {
    line-height: 80%;
    margin-left: -10px;
  }

  @include mediaSm {
    &--reiterovich {
      max-width: 280px;
      width: 100%;
    }
  }
}

.card-text {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 50px;
}

.card-link {
  display: inline-flex;
  align-items: center;

  height: 49px;
  width: fit-content;
  margin-top: auto;
  padding: 0 25px;

  border-radius: var(--br2);
  background: var(--accent);
  color: var(--accent-text);

  font-size: 18px;

  &--disabled {
    background: var(--disabled);
    color: rgba(29, 29, 29, 0.5);
    cursor: not-allowed;
  }
}

.row {
  display: flex;
  gap: 10px;

  @include mediaSm {
    flex-direction: column;
  }
}

.row-1 {
  .card {
    flex: 1;
  }

  .card:nth-child(1) {
  }

  .card-text {
    max-width: 470px;
    margin-top: 40px;
  }

  .card-logo {
    img {
    }
  }

  @include mediaMd {
    flex-direction: column;
  }
}

.row-2 {
  .card {
    flex: 1;
  }

  .card:nth-child(1) {
    flex: 1 1 13%;

    .card-text {
      margin-top: 15px;
    }
  }

  .card:nth-child(2) {
    flex: 1 1 22%;

    .card-text {
      margin-top: 21px;
    }
  }

  .card:nth-child(3) {
    flex: 1 1 21%;
  }

  @include mediaLg {
    flex-wrap: wrap;

    .card:nth-child(3) {
      flex: 1 1 100%;
    }
  }

  @include mediaSm {
    flex-wrap: nowrap;
  }
}
